body {
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    height: 100vh;
    background-color: #2b3a55;
    color: #f2e5e5;
    position: relative;
}

.first-cloud {
    height: 10vh;
    width: 10vw;
    position: absolute;
    right: 30vw;
    top: 10vh;
}

.my-name {
    position: absolute;
    left: 45vw;
    top: 20vh;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

.introduction {
    position: absolute;
    left: 45vw;
    top: 25vh;
}

.second-cloud {
    height: 10vh;
    width: 10vw;
    position: absolute;
    left: 30vw;
    top: 35vh;
}

.mountain {
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    left: 25vw;
}

.profile-picture {
    height: 28vh;
    width: 15vw;
}

.middle-container {
    background-color: #d6e4e5;
    color: #263159;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.bottom-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #fffbeb;
    color: #251749;
}

.copyright {
    margin-top: 1vh;
    margin-bottom: 0;
}

.web-dev-icon {
    height: 20vh;
    width: 10vw;
}

.google-icon {
    height: 20vh;
    width: 10vw;
}

#linkedin {
    margin-right: 1vw;
}

#facebook {
    margin-left: 1vw;
    margin-right: 1vw;
}

#github {
    margin-left: 1vw;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 8%;
    border-width: 1vw;
    color: #251749;
}