body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    height: 500px;
    background-color: #2b3a55;
    color: #f2e5e5;
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.first-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.my-name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
}

.second-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 485px;
}
